.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
    color: #fff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #f8c301;
    transition: 0.3s;
}
.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #f8c301;
    transition: 0.3s;
}

.navbar-default {
    background-color: #201916;
    border-color: #f8c301;
    border-bottom-width: 3px;
    background-size: contain;
}

.navbar{
    min-height: 60px;
    
}

#featured-section.container{
    padding-top: 70px;
    padding-bottom: 30px;
    background-color: #282828;
    width: 100%;
    background-position: top right;
    background-size: cover;
}

.panel-success>.panel-heading {
    color: #fff;
    background-color: #201916;
    border-color: #f8c301;
    border-width: 3px;
    background-position: center left;
    background-repeat: no-repeat;
    padding-left: 70px;
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #201916;
    border-color: #f8c301;
    border-width: 3px;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer {
    padding: 40px 0;
    background-color: #201916;
    background-repeat: repeat-x;
    background-position: bottom;
    border-top: 5px solid #f8c301;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #28ca00;
}

.tooltip>.tooltip-arrow{
    border-bottom-color: #d5b82a;
}
.tooltip>.tooltip-inner{
    background-color: #d5b82a;
    padding:5px;
    font-size: 1.5em;
    color: #282828;
}

img.icoco {
    margin:15px;
}

.btn-primary{
    color: #f8c301;
    background-color: #201916;
}